@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #050505;
  color: white;
}


bg-primary{
  background-color: #0f0f0f;
}

text-primary{
  color: #0d9807 !important;
}

bg-secondary{
  background-color: #0d9807;
}